<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        #addCategoryForm {
            background-color:white;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px; /* Set a fixed width for better readability */
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, textarea, select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 16px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>

    <div id="addCategoryForm" style="font-size:larger;font-family:'Times New Roman', Times, serif;font-weight: bold;">
        <% if (messages.error && messages.error.length > 0) { %>
            <div class="error-message">
                <%= messages.error %>
            </div>
        <% } %>

        <!-- Add this block to display success messages -->
        <% if (messages.success && messages.success.length > 0) { %>
            <div class="success-message">
                <%= messages.success %>
            </div>
        <% } %>

       
        <h2>Add Category</h2>
        <form action="/admin/product/add-category" method="post" enctype="multipart/form-data">
            <label for="categoryName">Category Name:</label>
            <input type="text" id="categoryName" name="categoryName" required maxlength="50">

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required maxlength="500"></textarea>

            <label for="image">Image Upload:</label>
            <input type="file" id="image" name="image" class="form-control file-upload-info" required>

            <div class="form-group">
                <label for="offer">Offer:</label>
                <select class="form-control form-control-lg text-dark" name="offer" id="offer" >
                    <option value="-1" disabled selected>Select an offer</option>
                    <% offers.forEach(offer=> { %>
                        <option value="<%= offer._id %>">
                          <%= offer.name %>
                        </option>
                        <% }) %>
                </select>
            </div>

            <button type="submit">Add Category</button>
        </form>
    </div>

</body>
</html>

