<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>
<style>
  .error-message {
    color: red;
    margin-top: 5px; /* Adjust top margin as needed */
    margin-bottom: 5px; /* Adjust bottom margin as needed */
    font-size: 14px; /* Adjust font size as needed */
}
</style>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include("../layout/adminside/navbar") %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <%- include("../layout/adminside/navbar") %>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <%- include("../layout/adminside/sidebar") %>
      <!-- partial -->
            <div class="container-xxl flex-grow-1 container-p-y">
                
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body" style="font-size:larger;font-family:'Times New Roman', Times, serif;font-weight: bold;">
                          <h4 class="card-title">Add New Coupon</h4>
        
                          <form class="forms-sample" action="/admin/new-coupon" method="post" onsubmit="return validateForm(event)">
                            <% if (message !== "") { %>
                              <p class="text-danger"><%= message %></p>
                            <% } %>
                            <div>
                              <div class="form-group col-md-12">
                                <label for="exampleInputName1">Description</label>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Description" required>
                                <div id="descriptionNameError" class="error-message"></div>
                              </div>
                            </div>
        
                            <div class="d-flex justify-content-between mt-3 mb-3">
                              <div class="form-group col-md-6">
                                <label for="cat">Discount Type Select</label>
                                <select name="discountType" id="discountType" class="form-control border border-primary" required>
                                  <option value="fixedAmount">
                                    Fixed amount
                                  </option>
                                  <option value="percentage">
                                    Percentage of amount
                                  </option>
                                </select>
                              </div>
        
                              <div class="form-group col-md-6">
                                <label for="exampleInputName1" id="discountAmountLabel">Discount Amount / Discount Percentage</label>
                                <input type="number" class="form-control" name="discountAmount" id="discountAP" placeholder="Discount Amount / Discount Percentage" required>
                                <div id="discountAPNameError" class="error-message"></div>
                              </div>
                            </div>
        
                            <div class="d-flex justify-content-between mt-3 mb-3">
                              <div class="col-md-6 form-group">
                                <label for="exampleInputName1">Minumum Purchase Amount</label>
                                <input type="number" class="form-control" name="minimumPurchaseAmount" id="minimumPurchaseAmount" placeholder="Minumum Purchase Amount" required>
                                <div id="minimumPurchaseAmountNameError" class="error-message"></div>
                              </div>
        
                              <div class="col-md-6 form-group">
                                <label for="exampleInputName1">Usage Limit</label>
                                <input type="number" class="form-control" name="usageLimit" id="usageLimit" placeholder="Limit" required>
                                <div id="usageLimitNameError" class="error-message"></div>
                              </div>
                            </div>
        
                            <div>
                              <button type="submit" class="btn btn-primary mr-2">Create</button>
                              <a href="/admin/coupons" class="btn btn-outline-primary btn-light" id="cancel-button">Cancel</a>
                            </div>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>

            </div>
            <!-- / Content -->
   
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
 <!-- partial:../../partials/_footer.html -->
 <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->

<script>

function validateForm(event){
  var description =document.getElementById('description').value;
  var discountAP =document.getElementById('discountAP').value;
  var minimumPurchaseAmount =document.getElementById('minimumPurchaseAmount').value;
  var usageLimit=document.getElementById('usageLimit').value;
  descriptionNameError.innerHTML=""
  discountAPNameError.innerHTML=""
  minimumPurchaseAmountNameError.innerHTML=""
  usageLimitNameError.innerHTML=""

  var isValid = true;

  if (description.trim() === "") {
    descriptionNameError.innerHTML = "Please enter description.";
    isValid = false;
  }else{
    var lettersOnlyRegex = /^[A-Za-z]+$/;
    
    if (!lettersOnlyRegex.test(description)) {
      descriptionNameError.innerHTML = "descrpition should contain only letters.";
      isValid = false;
  } else if (description.length < 3 || description.length > 20) {
      descriptionNameError.innerHTML = "description should be between 3 and 20 characters.";
      isValid = false;
    }
}

if (discountAP.trim()===""){
  discountAPNameError.innerHTML="please enter discount amount/percentage"
  isValid=false
}else{
  var numericRegex = /^\d+$/;
    if(!numericRegex.test(discountAP) || discountAP<0){
      discountAPNameError.innerHTML="discount amount/percentage should be non-negative integer"
      isValid=false
    }
}

if (minimumPurchaseAmount.trim()===""){
  minimumPurchaseAmountNameError.innerHTML="please enter minimum purchase amount"
  isValid=false
}else{
  var numericRegex = /^\d+$/;
    if(!numericRegex.test(minimumPurchaseAmount) || minimumPurchaseAmount<0){
      minimumPurchaseAmountNameError.innerHTML="minimumPurchaseAmount should be non-negative integer"
      isValid=false
    }
}

if (usageLimit.trim()===""){
  usageLimitNameError.innerHTML="please enter usageLimit"
  isValid=false
}else{
  var numericRegex = /^\d+$/;
    if(!numericRegex.test(usageLimit) || usageLimit<0){
      usageLimitNameError.innerHTML="usageLimit should be non-negative integer"
      isValid=false
    }
}

if (!isValid) {
    // Prevent form submission if there are validation errors
    event.preventDefault(); // This line is missing in your code
    return false
  }

            return true
}

</script>



<script src="/admin/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/admin/js/off-canvas.js"></script>
<script src="/admin/js/hoverable-collapse.js"></script>
<script src="/admin/js/template.js"></script>
<script src="/admin/js/settings.js"></script>
<script src="/admin/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>

</html>