<!-- <nav class="sidebar sidebar-offcanvas" id="sidebar"> -->
        <!-- <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/product">list products</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/product/create">Add products</a></li>
          
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Form elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">categories</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/product/Category-management">List</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Customers</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/customers">List</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Orders</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/order">List</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul> -->

 
        <aside class="sidebar">
          <nav>
            <ul class="nav flex-column">
              <!-- Dashboard -->
              <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                  <i class="bx bx-home-circle"></i>
                  <span>Dashboard</span>
                </a>
              </li>
        
              <!-- Users -->
              <li class="nav-item">
                <a class="nav-link" href="/admin/customers">
                  <i class="bx bx-user-circle"></i>
                  <span>Users</span>
                </a>
              </li>
        
              <!-- Product -->
              <li class="nav-item">
                <a class="nav-link" href="/admin/product">
                  <i class="bx bx-collection"></i>
                  <span>Product</span>
                </a>
              </li>
        
              <!-- Category -->
              <li class="nav-item">
                <a class="nav-link" href="/admin/product/Category-management">
                  <i class="bx bx-collection"></i>
                  <span>Category</span>
                </a>
              </li>
        
              <!-- Order -->
              <li class="nav-item ">
                <a class="nav-link" href="/admin/order">
                  <i class="bx bx-collection"></i>
                  <span>Order</span>
                </a>
              </li>
        
              <!-- Coupon -->
              <li class="nav-item">
                <a class="nav-link" href="/admin/coupons">
                  <i class="bx bx-collection"></i>
                  <span>Coupon</span>
                </a>
              </li>

                 <!-- offer -->
                 <li class="nav-item">
                  <a class="nav-link" href="/admin/Offer/">
                    <i class="bx bx-collection"></i>
                    <span>Offers</span>
                  </a>
                </li>
        

                 <!-- banner -->
                 <li class="nav-item">
                  <a class="nav-link" href="/admin/banner">
                    <i class="bx bx-collection"></i>
                    <span>Banner</span>
                  </a>
                </li>

              <!-- Logout -->
              <li class="nav-item">
                <a class="nav-link" href="/admin/Logout">
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>
        
        