
<%- include("../layout/customerside/header") %>
 <%-include("../layout/customerside/navbar") %>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2 class="h3 mb-3 text-black">Delivery Address</h2>
            </div>
            <div class="col-md-7">
                <form action="/user/profile/add-address" method="post">
                    <div class="p-3 p-lg-5 border">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="pincode" class="text-black">Pincode <span
                                        class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="pincode" required>
                            </div>
                            <div class="col-md-6">
                                <label for="state" class="text-black">State <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="state" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="city" class="text-black">City <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="city" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="building" class="text-black">House No., Building Name </label>
                                <input type="text" class="form-control" name="building" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="area" class="text-black">Road Name, Area, Colony </label>
                                <input type="text" class="form-control" name="area" required>
                            </div>
                        </div>
                        <p class="text-danger"></p>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-dark btn-lg btn-block"
                                    value="Add New Address">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include("../layout/customerside/footer") %>
