
    <!DOCTYPE html>
    <html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <style>
           body {
         font-family: Arial, sans-serif;
         background-image: url('/customer/img/hero/loginfix.jpg');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         height: 100vh;
         margin: 0;
         display: flex;
         justify-content: center;
         align-items: center;
}
            .login-container {
                width: 400px;
                margin: 0 auto;
                margin-top: 100px;
                /* background-color: ; */
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                text-align: center;
            }

            .form-group {
                margin-bottom: 15px;
            }

            .form-group input {
                width: 95%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .form-group label {
                text-align: left;
                display: block;
                margin-bottom: 5px;
            }

            .btn-container {
                margin-top: 20px;
            }

            .btn {
                padding: 10px 30px;
                background-color:black;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .btn-secondary {
                background-color:black;
                padding-top: 10px;
                position: relative;
                top: 10px;
            }
        

        </style>
   

    </head>
    <body>
    <div class="login-container">
        <h2 style="font-size: medium, Times, serif;font-weight: bold ;color:white"> Hi, Welcome! </h2>
        <form action="/user-Login" method="post" id="register-form" >
        <div class="form-group">
            <label for="email"style="font-size: medium, Times, serif;color:white">Email:</label>
            <input type="email" id="email" name="email" required style="font-size: medium, Times, serif">
            <p class="text-danger" id="email-error-display"></p>
        </div>
        <div class="form-group">
            <label for="password" style="font-size: medium, Times, serif;color:white">Password:</label>
            <input type="password" id="password" name="password" required>
            <p class="text-danger" id="password-error-display"></p>
        </div>
        
        <div class="btn-container">
            <button type="submit" class="btn" id="login" style="font-weight: bold;border: 2px solid gray;">Login</button>
        </div>
        </form>
        <!--error messages-->
        <% if (typeof message !="undefined" ) {%>

            <p class="mt-3 text-info ">
                <%= message %>
            </p>

            <%} %>
                <!--end messages-->
        <div style="padding: 10px;">
            <span style="font-size: medium, Times, serif;color:white"> Don't have an account?</span>
        <a href="/register" > register  </a>
        </div>

    </div>
    </body>
    <script>
    const form = document.getElementById('register-form');
const emailInput = document.getElementById('email');
const passwordInput = document.getElementById('password');

function validateForm() {
    let hasErrors = false;
    document.getElementById("email-error-display").innerHTML = "";
    document.getElementById("password-error-display").innerHTML = "";

    if (!emailInput.value) {
        hasErrors = true;
        document.getElementById("email-error-display").innerHTML = "Please enter an email.";
    } else if (!emailInput.value.match(/^[A-Za-z\._\-0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)) {
        hasErrors = true;
        document.getElementById("email-error-display").innerHTML = "Please enter a valid email.";
    }

    if (!passwordInput.value) {
        hasErrors = true;
        document.getElementById("password-error-display").innerHTML = "Please enter a password.";
    } else if (passwordInput.value.length < 6) {
        hasErrors = true;
        document.getElementById("password-error-display").innerHTML = "Password must be at least 6 characters long.";
    } else {
        const specialCharacters = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/;
        if (!specialCharacters.test(passwordInput.value)) {
            hasErrors = true;
            document.getElementById("password-error-display").innerHTML =
                "Password must contain at least 1 special character.";
        }
        const capitalLetters = /[A-Z]/;
        if (!capitalLetters.test(passwordInput.value)) {
            hasErrors = true;
            document.getElementById("password-error-display").innerHTML =
                "Password must contain at least 1 capital letter.";
        }
        const smallLetters = /[a-z]/;
        if (!smallLetters.test(passwordInput.value)) {
            hasErrors = true;
            document.getElementById("password-error-display").innerHTML =
                "Password must contain at least 1 small letter.";
        }
    }

    return !hasErrors;
}

form.addEventListener('submit', function(event) {
    if (!validateForm()) {
        event.preventDefault(); // Prevent form submission if there are errors
    }
});

    </script>
    </html>