
<%- include("../layout/customerside/header") %>
<%-include("../layout/customerside/navbar") %>

  <div class="site-wrap">
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Wallet</strong></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="form-group">
        <div class="p-4 border m-5">
          <span class="d-block text-primary h5 text-uppercase">My Wallet</span>
          <span class="d-block h6 text-uppercase">
            Balance: <strong>₹<%= currentUser.wallet.balance.toFixed(2) %></strong>
          </span>
          <span class="d-block text-primary mt-4 text-uppercase">Transaction History</span>
         
          <p class="mb-0">No data found.</p>
         
          
          <div class="d-flex">
            <p class="mb-0">
              <span class="text-dark">fsdf</span>
              <span>gfsd</span>
            </p>
         >
            <span class="text-success ml-3">₹sfgd</span>
           
            <span class="text-dark ml-3">₹45</span>
        
          </div>
      
        </div>

      </div>
    </div>

    <%- include("../layout/customerside/footer") %>